// Primary

$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

// #### Dark Theme

$Toggle-dark: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// #### Light Theme

$Toggle: hsl(230, 22%, 74%);

// #### Dark Theme

$VeryDarkBlue: hsl(230, 17%, 14%); //(BG)
$VeryDarkBlue: hsl(232, 19%, 15%); //(Top BG Pattern)
$DarkDesaturatedBlue: hsl(228, 28%, 20%); //(Card BG)
$DesaturatedBlue: hsl(228, 34%, 66%); //(Text)
$White: hsl(0, 0%, 100%); //(Text)

// #### Light Theme

$White: hsl(0, 0%, 100%); //(BG)
$VeryPaleBlue: hsl(225, 100%, 98%); //(Top BG Pattern)
$LightGrayishBlue: hsl(227, 47%, 96%); //(Card BG)
$DarkGrayishBlue: hsl(228, 12%, 44%); //(Text)
$VeryDarkBlue: hsl(230, 17%, 14%); //(Text)

// color combination for Dark theme
$bg: $VeryDarkBlue;
$topBg: $VeryDarkBlue;
$cardBg: $DarkDesaturatedBlue;
$textNormal: $DesaturatedBlue;
$textStrong: $White;

html {
  $White: hsl(0, 0%, 100%); //(BG)
  $VeryPaleBlue: hsl(225, 100%, 98%); //(Top BG Pattern)
  $LightGrayishBlue: hsl(227, 47%, 96%); //(Card BG)
  $DarkGrayishBlue: hsl(228, 12%, 44%); //(Text)
  $VeryDarkBlue: hsl(230, 17%, 14%); //(Text)

  // color combination for Dark theme
  --bg: hsl(0, 0%, 100%);
  --topBg: hsl(225, 100%, 98%);
  --cardBg: hsl(227, 47%, 96%);
  --textNormal: hsl(228, 12%, 44%);
  --textStrong: hsl(230, 17%, 14%);
  --boxHover: hsl(227, 24%, 93%);
}

html[data-theme="light"] {
  $VeryDarkBlue: hsl(230, 17%, 14%); //(BG)
  $VeryDarkBlue: hsl(232, 19%, 15%); //(Top BG Pattern)
  $DarkDesaturatedBlue: hsl(228, 28%, 20%); //(Card BG)
  $DesaturatedBlue: hsl(228, 34%, 66%); //(Text)
  $White: hsl(0, 0%, 100%); //(Text)

  --bg: hsl(230, 17%, 14%); //(BG)
  --topBg: hsl(232, 19%, 15%); //(Top BG Pattern)
  --cardBg: hsl(228, 28%, 20%); //(Card BG)
  --textNormal: hsl(228, 34%, 66%); //(Text)
  --textStrong: hsl(0, 0%, 100%); //(Text)

  --boxHover: hsl(229, 27%, 28%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 30px;
}

.top-box {
  .head-flex {
    display: flex;
    justify-content: space-between;

    .head-left {
      h1 {
        color: var(--textStrong);
        padding: 5px 0;
      }
      p {
        color: var(--textNormal);
        font-weight: bold;
      }
    }

    .head-right {
      display: flex;

      p {
        padding: 0 15px;
        color: var(--textNormal);
        font-weight: bold;
        padding: 25px 20px;
      }
    }
  }
}

.head-cards {
  padding: 40px 0;

  .card-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    //justify-content: space-between;
    margin: 0 auto;
    text-align: center;

    .head-card {
      position: relative;
      //   min-width: 250px;
      //   min-height: 200px;
      //width: 25%;
      background-color: var(--cardBg);
      padding: 20px;
      border-radius: 5px;
      border-top: 4px solid $Facebook;
      //margin: 0 20px;

      .icon-name {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 10px 0 20px 0;

        img {
          display: block;
        }
        p {
          color: var(--textNormal);
          font-weight: bold;
          padding-left: 5px;
          font-size: 13px;
        }
      }

      span.count {
        color: var(--textStrong);
        font-size: 44px;
        font-weight: bold;
        margin: 25px 0;
      }

      p.follower {
        color: var(--textNormal);
        letter-spacing: 5px;
        font-weight: normal;
        padding: 5px 0;
      }

      .todays-status {
        color: $LimeGreen;
        padding-top: 20px;
      }

      &:nth-child(2) {
        border-top: 4px solid $Twitter;
      }

      &:nth-child(3) {
        //border-top: 3px solid rgb(218, 34, 34);
        border-top: 4px;

        ::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: linear-gradient(to right, #fdc468, #df4996);
          border-radius: 6px 6px 0 0;
        }
      }

      &:nth-child(4) {
        border-top: 4px solid $YouTube;
      }
    }

    .head-card:hover {
      background-color: var(--boxHover);
    }
  }
}

.bottom-box {
  padding-bottom: 20px;
  h2 {
    color: var(--textStrong);
    padding: 15px 0;
    position: relative;
  }

  .card-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    box-sizing: border-box;

    .bottom-card {
      background-color: var(--cardBg);
      padding: 30px 20px;
      border-radius: 8px;

      .card-top {
        display: flex;
        justify-content: space-between;

        p {
          color: var(--textNormal);
          font-weight: bold;
        }
      }

      .card-bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        span {
          font-size: 32px;
          font-weight: bold;
          color: var(--textStrong);
        }

        p {
          color: $LimeGreen;
        }
      }
    }

    .bottom-card:hover {
      background-color: var(--boxHover);
    }
  }
}

// Down system
.down {
  p {
    color: red !important;
  }
}

//toggle
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: $Toggle-dark;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: var(--bg);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: $Toggle;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 25px;
}

//media

@media only screen and (max-width: 1401px) {
  .bottom-box .card-flex {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .bottom-box .card-flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .head-cards .card-flex {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .bottom-box .card-flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .head-cards .card-flex {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .top-box .head-flex .head-left h1 {
    font-size: 24px;
  }
}
